# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# don't need these globally, really
/.vscode

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# jens' attempt to make running new_darth less of a hassle, and other files :)
runNewDarth.sh
docker/work/
todo.md
